* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(215, 200, 150);
  color: rgb(110, 30, 30);
  font-family: cursive;
}

/* --- header --- */

header {
  position: relative;
  position: sticky;
  z-index: 1;
}

.Header-txt {
  height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
}

.Header-h1-txt {
  font-size: 1.5rem;
  width: fit-content;
  margin: 0 auto;
  border-top: solid;
  border-bottom: solid;
  border-radius: 25px;
  border-width: 5px;
  padding: 10px 30px;
}

.Nav-bar {
  position: absolute;
  top: 25px;
  right: 250px;
}

.Nav-bar a {
  text-decoration: none;
  color: rgb(110, 30, 30);
}

.Img-saitama {
  height: 80px;
}

.Img-top-right {
  position: absolute;
  top: 0px;
  right: 15px;
}

.Img-top-left {
  position: absolute;
  top: 0px;
  left: 5px;
}

.Buttom-header-gradient {
  position: absolute;
  top: 80px;
  height: 25px;
  background: linear-gradient(black, rgba(215, 200, 150, 0));
  width: 100%;
}

/* --- main --- */

main {
  line-height: 2rem;
}

.Main-title-txt {
  text-align: center;
  border-top: solid;
  border-bottom: solid;
  border-radius: 25%;
  width: 500px;
  margin: 40px auto 0px;
  padding: 10px;
}

.Main-title-h2-txt {
  font-size: 2rem;
  font-weight: bold;
}

.Main-title-p-txt {
  word-spacing: 5px;
  font-weight: bold;
  font-size: 1.2rem;
}
