* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(215, 200, 150);
  color: rgb(110, 30, 30);
  font-family: cursive;
}

/* --- header --- */

header {
  position: relative;
  position: sticky;
  top: 0;
}
.Header-txt-img {
  height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  width: 100%;
  display: flex;
  align-items: center;
}
.Header-h1-txt {
  box-sizing: border-box;
  font-size: 1rem;
  margin: 0px auto;
  width: fit-content;
  height: fit-content;
  border-bottom: solid;
  border-top: solid;
  border-radius: 25px;
  border-width: 3px;
  padding: 5px 20px;
  margin-bottom: 25px;
}

.Nav-bar {
  width: 100%;
  position: absolute;
  top: 50px;
}

.Nav-bar li {
  width: 250px;
  text-align: center;
}

.Nav-bar-ul a {
  font-size: 1.2rem;
  text-decoration: none;
  color: rgb(110, 30, 30);
  text-align: center;
  transition: color 1s;
}

.Nav-bar-ul a:hover {
  color: rgb(215, 200, 150);
  font-style: italic;
  border-left: solid;
  border-right: solid;
  padding: 5px 5px;
  border-radius: 50%;
}

.Nav-bar-ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0 100px;
}

.Img-saitama {
  height: 80px;
}

.Buttom-header-gradient {
  height: 25px;
  width: 100%;
  background: linear-gradient(black, rgba(215, 200, 150, 0));
}

/* --- main --- */

main {
  line-height: 2rem;
}

main img {
  width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
}

.Main-title-txt {
  text-align: center;
  border-bottom: solid;
  border-top: solid;
  border-radius: 25%;
  border-width: 5px;
  width: 500px;
  margin: 0px auto 0px;
  padding: 10px;
  text-shadow: 0px 0px 3px rgb(110, 30, 30);
}
.Main-title-h2-txt {
  font-size: 2rem;
  font-weight: bold;
}
.Main-title-p-txt {
  word-spacing: 5px;
  font-weight: bold;
  font-size: 1.2rem;
}
main .Content {
  width: 100%;
  text-align: justify;
  box-sizing: border-box;
  padding: 25px;
}
.Content h3 {
  text-align: center;
}
.Content-box {
  background-color: rgb(243, 236, 213);
  box-shadow: 0px 0px 10px rgb(110, 30, 30);
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 10px;
  border-radius: 10px;
}

.Heros {
  display: flex;
  flex-direction: row-reverse;
}
.Img-heros {
  box-sizing: border-box;
  width: 50%;
  border-bottom-right-radius: 0;
}

@media (max-width: 480px) {
  .Heros {
    display: flex;
    flex-direction: column;
  }
  .Main-title-txt {
    width: 350px;
  }
  .Img-heros {
    width: 100%;
  }
}
